body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

nav {
    padding: 0.5rem 1rem;
    background: url('PRE_ORIG_SIZE.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.game-window {
    padding-top: 48px;
    height: 100%;
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullscreenBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    z-index: 20;
}
