body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrolling on the webpage */
}

.about-us {
    font-weight: bold;
    color: #fff;
}

nav {
    padding: 0.5rem 1rem;
    background: url('PRE_ORIG_SIZE.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; /* Ensures the nav bar is always on top */
}

.game-window {
    padding-top: 48px; /* Adjusted to prevent nav from overlapping the game */
    height: 100%;
    background: #fff; /* Game background, will be adjusted later */
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.game-container {

    transform: scale(3);
    /*height: 240;*/
    /*width: 480;*/
}

#fullscreenBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    z-index: 20;
}

.game-canvas {
    position: relative;
    width: 480px;
    height: 240px;
}

.game-container canvas{
    image-rendering: pixelated;
}

#fs-icon{
    color: black;
}


#dialogue-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: #000;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogue-text {
    max-width: 90%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff; /* Bright color for the text */
    text-shadow: 2px 2px #000000; /* Shadow to make text stand out */
    font-size: small;
}

.hidden {
    display: none;
}